<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBS</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name">
        <input type="submit" value="送信">
    </form>

    <ul>
        <% for (var i = 0; i < posts.length; i++) { %>
        <li><%=  post[i] %></li>
        <% } %>
    </ul>
</body>
</html>