<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="text-center text-6xl text-blue-600 bg-green-200 font-black"><%= title %></h1>
    </header>

    <div role="main">

        <p><%= content %></p>
        <% var id = 0 ; %>
        <% for (var key in data) { %>
            <%- include("data_item" , {
                id: ++id,
                key: key,
                val: [data[key]],
            }) %>
            <% } %>
        </div>
</body>
</html>